.admin_lindo_mega_menu { width:100%; float:left;margin: 0; padding:0}
.admin_lindo_mega_menu  label { width:100%;ont-weight:bold}
.admin_lindo_mega_menu .lindo_style { width:100%; display:block}
.admin_lindo_mega_menu h2 { margin:5px 0; padding:5px;}